// General
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    font-family: 'Syne', sans-serif;

}

.body-container {
    margin: 0 auto;
    width: 80%;
}

a {
    text-decoration: none;
    color: black;
}
