* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// General
body {
    background-color: black;
}

.body-container {
    margin: 0 auto;
    width: 80%;
}

// Navigation
nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px 0;
    // color: #99f7f2;
    color: black;
    text-shadow: -1px -2px #99f7f2;
    padding: 6px 10px;
    margin: 0 15px;
    transition: all 0.2s;
    ul {
        display: flex;
        list-style-type: none;
    
        li {
            padding: 10px 30px;
        }
    }  
}

// Topics Container
.topics-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

// Celestial Image Container
.image-container {
    text-align: center;
}

.image-title {
    color: #99f7f2;
    padding: 15px 0;
}

.image {
    background-image: url('./assets/space_resized.jpg');
    height: 400px;
    background-position: center;
    background-repeat: no-repeat;
    width: 400px;
    border: 1px solid #99f7f2;
    border-radius: 5px;

}

// Discussion's Container
.comment-container {
    color: #99f7f2;
    background-color: grey;
    margin: 30px;
    padding: 15px;
    border: 1px solid #99f7f2;
    border-radius: 5px;
}
